@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-quill/dist/quill.snow.css';
.header-banner-bg {
  background-image: url('/images/homePageBanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
